h1 {
    font-size: 40px;
    width: 92%;
    font-family: Arial, Helvetica, sans-serif;
    text-align: right;
    color: black;
    text-decoration: solid;
    
}

body {
    background: white;
}

div {
    width: 25%;
    font-weight: 500;
    height: auto;
    background: white;
    padding: 5px;
    text-align: right;
    color: black;
    float: left;
    border: 1px solid black;
    margin: 45px;
    border: 0px 0px 20px 20px;
    text-align: center;

}

button {
    width: 25%;
    border: 1px solid black;
    padding: 10px 0px;
    border-radius: 2px;
    background: rgba(7, 119, 239, 0.726);
    font-weight: bold;
    cursor: pointer;
    text-align: center;

    color: black;
}

label {
    font-weight: 70;
}


#mahmoud {
    width: 20%;
    font-weight: 500;
    height: auto;
    background: white;
    padding: 20px;
    text-align: right;
    color: black;
    float: left;
    border: 1px solid black;
    margin: 5px;
    border: 0px 0px 20px 20px;
    text-align: center;
}

img {
    width: 100%;
}

#farag {
    width: 25%;
    font-weight: 500;
    height: auto;
    background: white;
    padding: 5px;
    text-align: right;
    color: black;
    float: left;
    border: 1px solid black;
    margin: 45px;
    border: 0px 0px 20px 20px;
    text-align: center;

}

.first {
    width: 150px;
    height: auto;
    border: 0;
    display: inline;
}